body {
    background-color:  #0797da;
    text-align: center;
    }
  img {
  
  width: 90px;
  
  height: 90px;
  
  float: left;
  
  background-color: #ea7201 ;
  
  
  
  }
  
  #idCard {
  
  border: 5px solid black;
  
  height: 14em;
  
  width: 25em;
  
  margin:0 0 50px 85px;
  
  background-color: #ea7201;
  
  }

